@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: cairo, sans-serif;
  overflow-x: hidden;
}
.direction-rtl {
  direction: rtl;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(129, 204, 230);
  border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
  border: 3px rgb(129, 204, 230) solid;
}
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
.routesContainer {
  transform: translateX(10rem);
  width: calc(100% - 10rem);
  height: 100%;
  transition: transform 300ms ease-in-out 50ms, width 0ms 0ms;
}
.routesContainer-collapsed {
  width: calc(100% - 3.5rem);
  transform: translateX(3.5rem);
  transition: transform 300ms ease-in-out 50ms, width 0ms 350ms;
}

.routesContainerR {
  transform: translateX(-10rem);
  width: calc(100% - 10rem);
  height: 100%;
  transition: transform 300ms ease-in-out 50ms, width 0ms 0ms;
}
.routesContainer-collapsedR {
  transform: translateX(-3.5rem);
  width: calc(100% - 3.5rem);
  transition: transform 300ms ease-in-out 50ms, width 0ms 350ms;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
/* input[type="text"] {
  font-family: cairo, sans-serif;
  text-align: right;
  border-style: solid;
  border-color: white;
  border-width: 0.2rem;
  font-size: 0.9rem;
  user-select: none;
  padding: 0.2rem;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
  box-shadow: 0.4rem 0.8rem 1rem 0.2rem rgba(0, 0, 0, 0.15);
  margin-left: 0.3rem;
} */

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
}
